<h1 class="text-center">
  map & mergeMap & switchMap & concatMap & exhaustMap comparison
</h1>

<h2>source observable:</h2>
<pre>
  source$ = from([1, 2, 3, 4, 5, 6]);
</pre>

<h2>another observable:</h2>
<pre>
  getData$ = (index: number): Observable&lt;string&gt; => &#123;
    const delayTime = Math.floor(Math.random() * 600) + 100;
    return of(`retrieved new data with index: $&#123;index&#125; and delay: $&#123;delayTime&#125;`).pipe(
      delay(delayTime)
    )
  &#125;;
</pre>

<hr />

<div>
  <h2>map</h2>
  <p *ngFor="let map of mapData">
    {{map}}
  </p>
</div>

<hr />

<div>
  <h2>mergeMap</h2>
  <p *ngFor="let map of mergeMapData">
    {{map}}
  </p>
</div>

<hr />

<div>
  <h2>switchMap</h2>
  <p *ngFor="let map of switchMapData">
    {{map}}
  </p>
</div>

<hr />

<div>
  <h2>concatMap</h2>
  <p *ngFor="let map of concatMapData">
    {{map}}
  </p>
</div>

<hr />

<div>
  <h2>concatMapTo</h2>
  <p *ngFor="let map of concatMapToData">
    {{map}}
  </p>
</div>

<hr />

<div>
  <h2>exhaustMap</h2>
  <p *ngFor="let map of exhaustMapData">
    {{map}}
  </p>
</div>

<router-outlet></router-outlet>
